.App {
  text-align: center;
}
body {
  background-color: #A9A9A9;
}
/* ================================================== */
/* ====================   Banner  ==================== */
/* ================================================== */
.info-container {
  display: flex;
  max-height: 50px;
  align-content: center;
  align-items: center;
  background-color: #FFF7DB;
}
.info-container img {
  width: 18px;
  height: 18px;
  margin: 15px;
}
.info-container p {
  font-size: 14px;
}
/* ================================================== */
/* ====================   Login  ==================== */
/* ================================================== */
.login-container {
  height: 100vh;  
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  background-color: rgb(81, 81, 81);
  color: white;
}
.login {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
}
.social {
  display: flex;
  justify-content: space-evenly;
}
.subform {
  margin-top: 12vh;
}
.subform h1 {
  font-size: 36px;
}
.subform input {
  border-radius: 20px;
  width: 327px;
  height: 40px;
  border: none;
  margin-top: 10px;
}
.subform button {
  width: 327px;
  height: 40px;
  border: none;
  border-radius: 15px;
  background-color: rgb(55, 76, 148);
  color: white;
  font-size: large;
  font-weight: bold;
}
.subform .row .column {
  display: flex;
  justify-content: space-between;
}
.subform .row .column input {
  display: inline-flex;
  width: 45%;
}
.login .form .button {
  margin-top: 20vh;
}
/* ================================================== */
/* ==================== Register ==================== */
/* ================================================== */
.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  background-color: rgb(81, 81, 81);
  color: white;
}
.register {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
}
.social {
  display: flex;
  justify-content: space-evenly;
}
.subform {
  margin-top: 12vh;
}
.subform h1 {
  font-size: 36px;
}
.subform input {
  border-radius: 20px;
  width: 327px;
  height: 40px;
  border: none;
  margin-top: 10px;
}
.subform button {
  width: 327px;
  height: 40px;
  border: none;
  border-radius: 15px;
  background-color: rgb(55, 76, 148);
  color: white;
  font-size: large;
  font-weight: bold;
}
.subform .row .column {
  display: flex;
  justify-content: space-between;
}
.subform .row .column input {
  display: inline-flex;
  width: 45%;
}
.register .form .button {
  margin-top: 29vh;
}
/* ================================================== */
/* ====================  Events  ==================== */
/* ================================================== */

.events-container {
  border: 2px solid purple;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-content: center; */
  margin: 0 auto;
  background-color: rgb(81, 81, 81);
  color: white;
}
.events-container .row {
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
}
.events-container .row img {
  height: 48px;
  width: 48px;
}
.events-container .row h1 {
  font-size: 36px;
  margin: 0;
}
.events-container .my-events-container {
  height: 50px;
  background-color: #A9A9A9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.events-container .my-events-container p {
  font-size: 24px;
  color: #374B94;
  font-weight: bold;
}
.events-container .act-event {
  background-color: #767676;
  background-image: url('https://i.imgur.com/poe0V2A.png');
  /* width: 375px;
  height: 240px; */
  background-repeat: no-repeat;
  text-decoration: none;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  border: 2px solid red;
}
.events-container .act-event .event-name h2 {
  display: flex;
  justify-items: center;
  margin: 0;
}

.events-container .act-event button {
  width: 327px;
  height: 40px;
  border: none;
  border-radius: 15px;
  background-color: rgb(55, 76, 148);
  color: white;
  font-size: large;
  font-weight: bold;  
  justify-self: center;
  margin: 10px;
}

/* ================================================== */
/* ==================== Footer ==================== */
/* ================================================== */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* height: 60px; Height of the footer */
  /* background: #6cf; */
}

footer .row {
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid black;
}
footer .vl {
  border-right: 2px solid black;
}
footer img {
  margin: 10px;
}
