@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {

  .steps-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C4C4C4;
  }

  .arrow{
    width: 100%; 
  }

  .back-arrow{
  margin: 15px 0 0 15px;
  left: 0px;
  height: 20px;
  width: 20px;
  }
  
  .header {
    font-size: 13px;
  }
  
  .step-one,
  .step-two,
  .step-three,
  .step-four,
  .step-five {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .steps-container p{
    margin: 2px;
  }
  
  
  .images {
    height: 150px;
    margin-bottom: 10px;
    border-radius: 30%;
  }
  
}

